.work-space {
  display: flex;
  flex-direction: column;
  border: solid 1px #cccccc;
  padding: 0 0 10px 0;
  position: relative; }
  .work-space .work-space-actions {
    height: 40px;
    border-bottom: solid 1px #cccccc;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .work-space .work-space-content {
    flex: 1 0 auto;
    padding: 10px; }

.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .user-input > div {
    width: 80%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column; }
    .user-input > div .properties {
      flex: 1; }
      .user-input > div .properties ul li {
        list-style: none; }
        .user-input > div .properties ul li label {
          width: 40px;
          padding-right: 10px; }
    .user-input > div .buttons {
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
